@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');* {
  margin: 0;
  padding: 0;
  font-family:  "Poppins", serif;
}
.action_btn a {
  margin: 0px 10px;
}
.sub_nav {
  border-bottom: 1px solid #a4a4a4;
}
.sub_nav h1 {
  margin-left: 10px;
}
#buy {
  border-radius: 20px;
  padding: 7px 15px;
  font-size: 12px;
}

.card_img {
  width: 300px;
  height: auto;
}

form{
  margin: 0px 10px;
}
.animate-spin {
  animation: spin 0.8s linear infinite;
}

/* Ensure spinner is styled properly */
#spinner {
  border-width: 2px; /* Thickness of the spinner */
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

